<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.sharedOne.mapper.report.HmsReportMapper">
	  
	<select id="countPage" resultType="int">
	SELECT COUNT(*) FROM Order_header
	</select>
	
	<select id="orderList" resultType="com.sharedOne.domain.report.OrderReportDto">
	SELECT 
		h.orderId, 
		h.inserted,	
		h.modified,	
		h.deliveryDate,
		h.writer,
		h.buyerCode,
		h.status,
		h.message,
		h.comment,
		
		i.productCode,
		i.finalPrice,
		i.quantity,
		i.sum,
		
		p.productName,
	    p.productType,
	    p.size
	FROM 
		Order_item i
	LEFT JOIN Order_header h ON i.orderId = h.orderId
	LEFT JOIN Product p ON i.productCode = p.productCode
	
	
	<where>
	<trim prefixOverrides="OR">
		<if test="orderQ != '' or productCode != ''">
		OR i.productCode LIKE #{orderQ} 
		</if>
		
		<if test="orderQ != '' or productName != ''">
		OR p.productName LIKE #{orderQ} 
		</if>
		
		<if test="orderQ != '' or productType != ''">
		OR p.productType LIKE #{orderQ} 
		</if>
		
		<if test="orderQ != '' or size != ''">
		OR p.size LIKE #{orderQ} 
		</if>
	</trim>
	</where>
	
	<if test="productCode != '' ">
 		AND i.productCode = #{productCode}
 	</if>
 	<if test="productName != '' ">
 		AND p.productName = #{productName}
 	</if>
 	<if test="productType != '' ">
 		AND p.productType = #{productType}
 	</if>
 	<if test="size != '' ">
 		AND p.size = #{size}
 	</if>
 	
	ORDER BY h.orderId DESC		<!-- orderId 등록이 최신 기준으로 -->
	
	<!-- LIMIT #{offset}, #{records} -->
	</select>
	
	<select id="productCatalog" resultType="com.sharedOne.domain.master.ProductDto">
		SELECT
			productCode,
			productName,
			productType,
			weight,
			size,
			price,
			unit,
			content,
			inserted,
			modified,
			fromDate,
			endDate
		FROM
			Product
		WHERE 	   
			productCode LIKE #{productQ} OR
			productName LIKE #{productQ} OR
			productType LIKE #{productQ} OR
			       size LIKE #{productQ} 
		ORDER BY productCode DESC
	</select>
 </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  