<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedOne.mapper.report.lnhReportMapper">

	<select id="orderList" resultMap="reportMap">
		SELECT
			h.orderCode,
			i.productCode,
			i.finalPrice,
			i.quantity,
			i.sum,
			h.inserted,
			h.modified,
			h.deliveryDate,
			h.writer,
			h.buyerCode,
			h.status,
			h.message
		FROM
			Order_header h LEFT JOIN Order_item i ON h.orderCode = i.orderCode
			
		WHERE	h.orderCode LIKE #{orderQ} 
		   OR  	  i.productCode LIKE #{orderQ} 
		   OR  	  i.finalPrice LIKE #{orderQ} 
		   OR  	  i.quantity LIKE #{orderQ} 
		   OR  	  i.sum LIKE #{orderQ} 
		   OR  	  h.inserted LIKE #{orderQ} 
		   OR 	  h.modified LIKE #{orderQ} 
		   OR h.deliveryDate LIKE #{orderQ} 
		   OR       h.writer LIKE #{orderQ} 
		   OR    h.buyerCode LIKE #{orderQ} 	
		   OR 		h.status LIKE #{orderQ} 
		   OR 	   h.message LIKE #{orderQ} 
		
		ORDER BY h.orderId DESC 	<!-- orderId 등록이 최신 기준으로 -->

	</select>
	
	<resultMap type="com.sharedOne.domain.order.OrderHeaderDto" id="reportMap">
		<result column="orderCode" property="orderCode" />
		<result column="inserted" property="inserted" />
		<result column="modified" property="modified" />
		<result column="deliveryDate" property="deliveryDate" />
		<result column="writer" property="writer" />
		<result column="buyerCode" property="buyerCode" />
		<result column="status" property="status" />
		<result column="message" property="message" />
		<collection property="orderItem" resultMap="orderItem"></collection>
		
	</resultMap>
	
	<resultMap type="com.sharedOne.domain.order.OrderItemDto" id="orderItem">
		<result column="productCode" property="productCode"/>
		<result column="finalPrice" property="finalPrice"/>
		<result column="quantity" property="quantity"/>
		<result column="sum" property="sum"/>
	</resultMap>
	
	
	<select id="thisYearSales" resultType="com.sharedOne.domain.report.ReportDto">
	SELECT MONTH(h.inserted) as month,
		sum(i.sum) as thisSales
	FROM Order_header h LEFT JOIN Order_item i ON h.orderCode = i.orderCode
	WHERE year(inserted) = year(now()) 
	GROUP BY month
	
	</select>
	
	<!-- 검색 결과 바이어 별 매출 -->
	<select id="salesByBuyer" resultType="int">
		SELECT sum(i.sum) salesByBuyer 
		FROM Order_header h LEFT JOIN Order_item i ON h.orderCode = i.orderCode
		
		WHERE	(h.orderCode LIKE #{orderQ} 
		   OR  	  i.productCode LIKE #{orderQ} 
		   OR  	  i.finalPrice LIKE #{orderQ} 
		   OR  	  i.quantity LIKE #{orderQ} 
		   OR  	  i.sum LIKE #{orderQ} 
		   OR  	  h.inserted LIKE #{orderQ} 
		   OR 	  h.modified LIKE #{orderQ} 
		   OR h.deliveryDate LIKE #{orderQ} 
		   OR       h.writer LIKE #{orderQ} 
		   OR    h.buyerCode LIKE #{orderQ} 	
		   OR 		h.status LIKE #{orderQ} 
		   OR 	   h.message LIKE #{orderQ})  
			AND h.buyerCode = #{buyerCode}
	
	</select>
	
		<select id="salesByWriter" resultType="int">
		SELECT sum(i.sum) salesByWriter 
		FROM Order_header h LEFT JOIN Order_item i ON h.orderCode = i.orderCode
		
		WHERE	(h.orderCode LIKE #{orderQ} 
		   OR  	  i.productCode LIKE #{orderQ} 
		   OR  	  i.finalPrice LIKE #{orderQ} 
		   OR  	  i.quantity LIKE #{orderQ} 
		   OR  	  i.sum LIKE #{orderQ} 
		   OR  	  h.inserted LIKE #{orderQ} 
		   OR 	  h.modified LIKE #{orderQ} 
		   OR h.deliveryDate LIKE #{orderQ} 
		   OR       h.writer LIKE #{orderQ} 
		   OR    h.buyerCode LIKE #{orderQ} 	
		   OR 		h.status LIKE #{orderQ} 
		   OR 	   h.message LIKE #{orderQ})  
			AND writer = #{writer}
	
	</select>
	
</mapper>