<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sharedOne.mapper.report.lnhReportMapper">

<!-- 검색 결과  -->
<sql id="searchResult">
	(
	<trim prefixOverrides="OR">
		<if test="orderQ != '' or orderCode != ''">
			OR h.orderCode LIKE #{orderQ}
		</if>
		<if test="orderQ != '' or productCode != ''">
			OR i.productCode LIKE #{orderQ}
		</if>
		<if test="orderQ != '' or writer != ''">
			OR h.writer LIKE #{orderQ}
		</if>
		<if test="orderQ != '' or status != ''">
			OR h.status LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR i.finalPrice LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR i.quantity LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR i.sum LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR h.inserted LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR h.modified LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR h.deliveryDate LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR h.buyerCode LIKE #{orderQ}
		</if>
		<if test="orderQ != ''">
			OR h.message LIKE #{orderQ}
		</if>


	</trim>
	)

	<if test="orderCode != '' ">
		AND h.orderCode LIKE #{orderCode }
	</if>
	<if test="productCode != '' ">
		AND i.productCode LIKE #{productCode }
	</if>
	<if test="writer != '' ">
		AND h.writer LIKE #{writer }
	</if>
	<if test="status != '' ">
		AND h.status LIKE #{status }
	</if>
	<if test="fromDate != '' and endDate !='' ">
		AND h.deliveryDate BETWEEN #{fromDate} AND #{endDate}
	</if>

</sql>

	<select id="orderList" resultMap="reportMap">
		SELECT
			h.orderCode,
			i.productCode,
			i.finalPrice,
			i.quantity,
			i.sum,
			h.inserted,
			h.modified,
			h.deliveryDate,
			h.writer,
			h.buyerCode,
			h.status,
			h.message
		FROM
			Order_header h LEFT JOIN Order_item i ON h.orderId = i.orderId
			
		WHERE
			 <include refid="searchResult" />  
		
		ORDER BY h.orderId DESC 	<!-- orderId 등록이 최신 기준으로 -->

	</select>
	
	<resultMap type="com.sharedOne.domain.order.OrderHeaderDto" id="reportMap">
		<result column="orderCode" property="orderCode" />
		<result column="inserted" property="inserted" />
		<result column="modified" property="modified" />
		<result column="deliveryDate" property="deliveryDate" />
		<result column="writer" property="writer" />
		<result column="buyerCode" property="buyerCode" />
		<result column="status" property="status" />
		<result column="message" property="message" />
		<collection property="orderItem" resultMap="orderItem"></collection>
		
	</resultMap>
	
	<resultMap type="com.sharedOne.domain.order.OrderItemDto" id="orderItem">
		<result column="productCode" property="productCode"/>
		<result column="finalPrice" property="finalPrice"/>
		<result column="quantity" property="quantity"/>
		<result column="sum" property="sum"/>
	</resultMap>
	
	<!-- 올해 매출 그래프(디폴트) -->
	<select id="thisYearSales" resultType="com.sharedOne.domain.report.ReportDto">
	SELECT MONTH(h.inserted) as month,
		sum(i.sum) as thisSales
	FROM Order_header h LEFT JOIN Order_item i ON h.orderId = i.orderId
	WHERE year(inserted) = year(now()) 
	GROUP BY month
	
	</select>
	
	<!-- 검색 결과 바이어 별 매출 -->
	<select id="salesByBuyer" resultType="integer">
		SELECT sum(i.sum) salesByBuyer 
		FROM Order_header h LEFT JOIN Order_item i ON h.orderId = i.orderId
		
		WHERE	
		 <include refid="searchResult" />  
			AND h.buyerCode = #{buyerCode}
	
	</select>
	<!-- 검색 결과 직원 별 매출 -->
		<select id="salesByWriter" resultType="integer">
		SELECT sum(i.sum) salesByWriter 
		FROM Order_header h LEFT JOIN Order_item i ON h.orderId = i.orderId
		
		WHERE
		 <include refid="searchResult" />  	 
			AND writer = #{writer}
	
	</select>
	
</mapper>