<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sharedOne.mapper.master.AsjSalePriceMapper">

 	<!-- priceId, productCode, buyerCode, salePrice, discountRate, memo, fromDate, endDate -->
 	<insert id="register" useGeneratedKeys="true">
 		INSERT INTO SalePrice ( buyerCode, productCode, salePrice, discountRate, fromDate, endDate )
 		VALUES ( #{buyerCode}, #{productCode}, #{salePrice}, #{discountRate}, #{fromDate}, #{endDate} )
 	</insert>
	
	<select id="selectSalePriceListAll" resultType="com.sharedOne.domain.master.SalePriceDto">
		SELECT 
	 		sp.priceId,
	 		sp.salePrice,
	 		sp.discountRate,
	 		sp.fromDate,
	 		sp.endDate,
	 		b.buyerCode,
	 		b.buyerName,
	 		b.country,
	 		p.productCode,
	 		p.productName,
	 		p.price
	 	FROM
	 		SalePrice sp
	 	LEFT JOIN Buyer b ON b.buyerCode = sp.buyerCode
	 	LEFT JOIN Product p ON p.productCode = sp.productCode
	 	ORDER BY p.productCode ASC;
	</select>
	
 	<!-- 아이템 : id, 제품코드, 제품명,바이어코드, 바이어명, 국가, 원가, 단가, 할인율, 단가기간, -->
	<select id="selectAllSalePriceItemList" resultType="com.sharedOne.domain.master.SalePriceDto">
	 	SELECT 
	 		sp.priceId,
	 		sp.salePrice,
	 		sp.discountRate,
	 		sp.fromDate,
	 		sp.endDate,
	 		b.buyerCode,
	 		b.buyerName,
	 		b.country,
	 		p.productCode,
	 		p.productName,
	 		p.price
	 	FROM
	 		SalePrice sp
	 	LEFT JOIN Buyer b ON b.buyerCode = sp.buyerCode
	 	LEFT JOIN Product p ON p.productCode = sp.productCode
	 	WHERE
	 	(
	 	<trim prefixOverrides="OR">
			<if test="keyword != '' or productCode != ''">
			OR p.productCode LIKE #{keyword}
			</if>
			<if test="keyword != '' or productName != ''">
			OR p.productName LIKE #{keyword}
			</if>
			<if test="keyword != '' or buyerCode != ''">
			OR b.buyerCode LIKE #{keyword}
			</if>
			<if test="keyword != '' or buyerName != ''">
			OR b.buyerName LIKE #{keyword}
			</if>
			<if test="keyword != '' or country != ''">
			OR b.country LIKE #{keyword}
			</if>			
		</trim>
		)	 	
	 	
 		<if test="productCode != '' ">
 			AND p.productCode LIKE #{productCode }
 		</if>
 		<if test="productName != '' ">
 			AND p.productName LIKE #{productName }
 		</if>
 		<if test="buyerCode != '' ">
 			AND b.buyerCode LIKE #{buyerCode }
 		</if>
 		<if test="buyerName != '' ">
 			AND b.buyerName LIKE #{buyerName }
 		</if>
 		<if test="country != '' ">
 			AND b.country LIKE #{country }
 		</if>
		<if test="priceMin !='' or priceMax !=''">
			AND sp.salePrice BETWEEN #{priceMin} AND #{priceMax}
		</if>
		<choose>
			<when test="fromDate == '' and  endDate == '' ">
				
			</when>
			<when test="fromDate != '' ">
				AND sp.fromDate BETWEEN #{fromDate} AND #{endDate}
			</when>
			<when test="endDate != '' ">
				AND sp.endDate BETWEEN #{fromDate} AND #{endDate} 
			</when>
			<when test="fromDate !='' and endDate !=''">
				AND 
					sp.fromDate  <![CDATA[ < ]]> #{fromDate} 
					AND
					sp.endDate <![CDATA[ > ]]> #{endDate} 
			</when>
		</choose>
 		
		ORDER BY p.productCode ASC;
		
	</select> 		
	
	<select id="selectPriceByProductCode" resultType="int">
		SELECT
			price
		FROM
			Product
		WHERE
			productCode = #{productCode}	
	</select>
	
	<select id="selectDateListByBuyerCodeAndProductCode" resultType="com.sharedOne.domain.master.SalePriceDto">
		SELECT
			buyerCode,
			productCode,
			fromDate,
			endDate
		FROM
			SalePrice
		WHERE
			buyerCode = #{buyerCode }
		AND productCode = #{productCode }		
	</select>
	
	<select id="selectSaleByPriceId" resultType="com.sharedOne.domain.master.SalePriceDto">
		SELECT 
			sp.priceId,
	 		sp.salePrice,
	 		sp.discountRate,
	 		sp.fromDate,
	 		sp.endDate,
	 		
	 		b.buyerCode,
	 		b.buyerName,
	 		b.country,
	 		
	 		p.productCode,
	 		p.productName,
	 		p.price
 		FROM
	 		SalePrice sp
	 	LEFT JOIN Buyer b ON b.buyerCode = sp.buyerCode
	 	LEFT JOIN Product p ON p.productCode = sp.productCode
	 	
	 	WHERE
	 		sp.priceId = #{priceId }
	</select>
	
	<update id="updateSalePriceByPriceId">
		UPDATE SalePrice
		SET 
			salePrice = #{salePrice},
			discountRate = #{discountRate},
			fromDate = #{fromDate},
			endDate = #{endDate}
		WHERE
			priceId = #{priceId}	
	</update>
 
 	<delete id="deleteSalePriceInfoByPriceId">
 	DELETE FROM SalePrice
 	WHERE priceId = #{priceId }
 	</delete>
 </mapper>