<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sharedOne.mapper.master.lnhProductMapper">
 
 <!-- 중복체크 -->
 	<select id="selectProductName" resultType="com.sharedOne.domain.master.ProductDto">
		SELECT * FROM Product WHERE productName = #{productName}
	</select>
	
	<select id="selectProductCode" resultType="com.sharedOne.domain.master.ProductDto">
		SELECT * FROM Product WHERE productCode = #{productCode}
	</select>
 
 	<select id="selectProductList" resultType="com.sharedOne.domain.master.ProductDto">
 	<!-- productCode, productName, productType, weight, size, price, unit, content, inserted -->
		SELECT 
			productCode,
			productName,
			productType,
			size
		FROM 
			Product
			
 	</select>
 	
 	<select id="searchProductList" resultType="com.sharedOne.domain.master.ProductDto">
 	<!-- productCode, productName, productType, weight, size, price, unit, content, inserted -->
		SELECT 
			productCode,
			productName,
			productType,
			weight,
			size,
			price,
			unit,
			content,
			inserted,
			modified,
			fromDate,
			endDate
		FROM 
			Product
			
		WHERE
	 	(
	 	<trim prefixOverrides="OR">
			<if test="keyword != '' or productCode != ''">
			OR productCode LIKE #{keyword}
			</if>
			<if test="keyword != '' or productName != ''">
			OR productName LIKE #{keyword}
			</if>
			<if test="keyword != '' or size != ''">
			OR size LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR productType LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR weight LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR price LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR unit LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR content LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR inserted LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR modified LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR fromDate LIKE #{keyword}
			</if>
			<if test="keyword != ''">
			OR endDate LIKE #{keyword}
			</if>
			
		</trim>
		)	 	
	 	
 		<if test="productCode != '' ">
 		AND productCode = #{productCode }
 		</if>
 		<if test="productName != '' ">
 		AND productName = #{productName }
 		</if>
 		<if test="size != '' ">
 		AND size = #{size }
 		</if>
		
		ORDER BY productCode
 	</select>
 	
 	 <!-- 제품 입력 -->
 	<insert id="register" useGeneratedKeys="true" keyProperty="productCode">
 	INSERT INTO Product (productCode, productName, productType, weight, size, price, unit, fromDate, endDate, content)
 	VALUES (#{productCode}, #{productName}, #{productType}, #{weight}, #{size}, #{price}, #{unit}, #{fromDate}, #{endDate}, #{content})
 	</insert>
 	
 	<!-- 제품 내용 가져오기 -->
 	<select id="get" resultType="com.sharedOne.domain.master.ProductDto">
	 	SELECT *
	 	FROM 
			Product
		WHERE productCode = #{productCode}
 	</select>
 	
 	<!-- 제품 수정 -->
 	<update id="update">
	 	UPDATE Product
	 	SET

	 		<!-- productName = #{productName},
	 		productType = #{productType}, -->
	 		weight = #{weight},
	 		size = #{size},
	 		price = #{price},
	 		fromDate = #{fromDate},
	 		endDate = #{endDate},
	 		unit = #{unit},
	 		content = #{content}
	 	WHERE
	 		productCode = #{productCode}
 	</update>
 	
 	<!-- 제품 삭제 -->
 	<delete id="delete">
 	DELETE FROM Product
 	WHERE productCode = #{productCode}
 	</delete>
 
 </mapper>