<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sharedOne.mapper.master.lnhProductMapper">
 
 <!-- 중복체크 -->
 	<select id="selectProductName" resultType="com.sharedOne.domain.master.ProductDto">
		SELECT * FROM Product WHERE productName = #{productName}
	</select>
 
 
 	<select id="selectProductList" resultType="com.sharedOne.domain.master.ProductDto">
 	<!-- productCode, productName, productType, weight, size, price, unit, content, inserted -->
		SELECT 
			productCode,
			productName,
			productType,
			weight,
			size,
			price,
			unit,
			content,
			inserted
		FROM 
			Product
			
 	</select>
 	
 	 <!-- 제품 입력 -->
 	<insert id="register" useGeneratedKeys="true" keyProperty="productCode">
 	INSERT INTO Product (productCode, productName, productType, weight, size, price, unit, content)
 	VALUES (#{productCode}, #{productName}, #{productType}, #{weight}, #{size}, #{price}, #{unit}, #{content})
 	</insert>
 	
 	<!-- 제품 내용 가져오기 -->
 	<select id="get" resultType="com.sharedOne.domain.master.ProductDto">
	 	SELECT *
	 	FROM 
			Product
		WHERE productCode = #{productCode}
 	</select>
 	
 	<!-- 제품 수정 -->
 	<update id="update">
	 	UPDATE Product
	 	SET
	 		<!-- productName = #{productName},
	 		productType = #{productType}, -->
	 		weight = #{weight},
	 		size = #{size},
	 		price = #{price},
	 		unit = #{unit},
	 		content = #{content}
	 	WHERE
	 		productCode = #{productCode}
 	</update>
 	
 	<!-- 제품 삭제 -->
 	<delete id="delete">
 	DELETE FROM Product
 	WHERE productCode = #{productCode}
 	</delete>
 
 </mapper>