<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.sharedOne.mapper.order.AsjOrderMapper">
 	<!-- headerList -->
 	<select id="selectOrderHeaderList" resultType="com.sharedOne.domain.order.OrderHeaderDto">
 		SELECT
 			h.orderId,
 			h.orderCode,
 			h.inserted,
 			h.modified,
 			h.deliveryDate,
 			h.writer,
 			h.status,
 			h.message,
 			h.writer, 
 			b.buyerCode,
 			b.buyerName
 			
 		FROM
 			Order_header h
 		LEFT JOIN Buyer b ON b.buyerCode = h.buyerCode
 		
 		<!-- keyword,orderCode,buyerCode,writer,status -->
 		WHERE
 		
	 	(
	 	<trim prefixOverrides="OR">
			<if test="keyword != '' or orderCode != '' ">
			OR h.orderCode LIKE #{keyword}
			</if>
			<if test="keyword != '' or buyerCode != '' ">
			OR b.buyerCode LIKE #{keyword}
			</if>
			<if test="keyword != '' or writer != '' ">
			OR h.writer LIKE #{keyword}
			</if>
			<if test="keyword != '' or status != '' ">
			OR h.status LIKE #{keyword}
			</if>			
		</trim>
		)	 	
	 	<if test="d1 != '' and d2 != '' ">
 		AND h.deliveryDate BETWEEN #{d1} AND #{d2}
 		</if>
 		<if test="orderCode != '' ">
 		AND h.orderCode LIKE #{orderCode }
 		</if>
 		<if test="buyerCode != '' ">
 		AND b.buyerCode LIKE #{buyerCode }
 		</if>
 		<if test="writer != '' ">
 		AND h.writer LIKE #{writer }
 		</if>
 		<if test="status != '' ">
 		AND h.status LIKE #{status }
 		</if>
 		
 		ORDER BY h.inserted DESC;
 		
 	</select>
 
 	
 	<!-- itemList ByOrderCode !!! -->
 	<select id="selectOrderItemListByOrderCode" resultType="com.sharedOne.domain.order.OrderItemDto">
 		SELECT
			i.itemId,
			i.quantity,
			i.sum,
			h.orderCode,
			
			pd.productCode,
			pd.productName,
			pd.productType,
			pd.unit,
			pd.price,	
			
			i.finalPrice
			
			
 		FROM
 			Order_item i
		LEFT JOIN Order_header h ON h.orderId = i.orderId
 		LEFT JOIN Product pd ON pd.productCode = i.productCode
 		
 		
 		WHERE
 			h.orderCode = #{orderCode }
 	</select>
 <!-- 	<resultMap type="com.sharedOne.domain.order.OrderItemDto" id="itemMap">
 		<id column="itemId" property="itemId"/>
 		<result column="quantity" property="quantity"/>
 		<result column="sum" property="sum"/>
 		
 		<collection property="product" ofType="com.sharedOne.domain.master.ProductDto">
 			<result column="productCode" property="productCode"/>
 			<result column="productName" property="productName"/>
 			<result column="unit" property="unit"/>
 			<result column="price" property="price"/>
 		</collection>
 		<collection property="price" ofType="com.sharedOne.domain.master.SalePriceDto">
 			<result column="salePrice" property="salePrice"/>
 			<result column="discountRate" property="discountRate"/>
 			<result column="fromDate" property="fromDate"/>
 			<result column="endDate" property="endDate"/>
 		</collection> 
 	</resultMap>
 -->
 		
 
 </mapper>