<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sharedOne.mapper.order.YdsOrderMapper">
	<select id="searchBuyer" resultType="com.sharedOne.domain.master.BuyerDto">
		SELECT 
			buyerCode,
			buyerName,
			address,
			country,
			businessNumber,
			phone,
			deliveryCompany,
			manager
		FROM Buyer
		<where>
		<trim prefixOverrides="OR" prefix="OR">
			<if test="buyerName != null">
				OR buyerName Like #{buyerInfo}
			</if>
			<if test="buyerCode !=null">
				OR buyerCode LIKE #{buyerInfo}
			</if>
			<if test="address !=null">
				OR address Like #{buyerInfo}
			</if>
			<if test="country !=null">
				OR country LIKE #{buyerInfo}
			</if>
			<if test="manager !=null">
				OR manager LIKE #{buyerInfo}
			</if>
		</trim>
		</where>
		
	</select>
		<select id="getBuyerNames" resultType="com.sharedOne.domain.master.BuyerDto">
		SELECT 
			buyerName
		FROM Buyer
	</select>
	
	<select id="searchProduct" resultType="com.sharedOne.domain.master.ProductDto">
		SELECT 
			productCode,
			productType,
			productName,
			weight,
			size,
			price,
			unit,
			content,
			inserted
		FROM
			Product
		<where>
			<trim prefixOverrides="OR">
				<if test="productName != null">
					OR productName Like #{productInfo}
				</if>
				<if test="productType != null">
					OR productType Like #{productInfo}
				</if>
				<if test="productCode != null">
					OR productCode Like #{productInfo}
				</if>
			</trim>
		</where>
	</select>
	
	<select id="addTempProductOrder" resultType="com.sharedOne.domain.master.YdsProductDto">
		SELECT
		 	productCode,
		 	productName,
		 	productType,
		 	size,
		 	unit,
		 	price
		 FROM Product
		 where productCode = #{productCode}
		 
	</select>
	


</mapper>