<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sharedOne.mapper.order.YdsOrderMapper">
	<select id="searchBuyer" resultType="com.sharedOne.domain.master.BuyerDto">
		SELECT 
			buyerCode,
			buyerName,
			address,
			country,
			businessNumber,
			phone,
			deliveryCompany,
			manager
		FROM Buyer
		<where>
		<trim prefixOverrides="OR" prefix="OR">
			<if test="buyerName != null">
				OR buyerName Like #{buyerInfo}
			</if>
			<if test="buyerCode !=null">
				OR buyerCode LIKE #{buyerInfo}
			</if>
			<if test="address !=null">
				OR address Like #{buyerInfo}
			</if>
			<if test="country !=null">
				OR country LIKE #{buyerInfo}
			</if>
			<if test="manager !=null">
				OR manager LIKE #{buyerInfo}
			</if>
		</trim>
		</where>
		
	</select>
		<select id="getBuyerNames" resultType="com.sharedOne.domain.master.BuyerDto">
		SELECT 
			buyerName
		FROM Buyer
	</select>
	
	<select id="searchProduct" resultType="com.sharedOne.domain.master.ProductDto">
		SELECT 
			p.productCode,
			p.productType,
			p.productName,
			p.weight,
			p.size,
			p.price,
			p.unit,
			s.salePrice,
			s.buyerCode
		FROM
			Product p 
		LEFT JOIN SalePrice s ON p.productCode = s.productCode
		WHERE
				p.productCode LIKE #{allProductInfo}
				OR p.productName LIKE #{allProductInfo}
				OR p.productType LIKE #{allProductInfo}
	</select>
	
	<select id="addTempProductOrder" resultType="com.sharedOne.domain.master.YdsProductDto">
		SELECT
		 	p.productCode,
		 	p.productName,
		 	p.productType,
		 	p.size,
		 	p.unit,
		 	p.price,
		 	s.salePrice,
		 	s.priceId
		 FROM Product p
		 LEFT JOIN SalePrice s ON s.productCode = p.productCode
		 where s.productCode = #{productCode} AND s.buyerCode = #{buyerCode} 
		 
	</select>
	<insert id="insertOrderHeader" useGeneratedKeys="true" keyProperty="orderId">
	INSERT INTO Order_header(
		deliveryDate,
		buyerCode,
		status,
		message,
		writer
	)
	VALUES(#{deliveryDate}, #{buyerCode}, #{status} , #{message}, #{writer})
	
	</insert>
	
	<update id="createOrderCode">
		UPDATE Order_header 
		SET 
		orderCode = CONCAT('WT',#{year}, #{generatedId})
		WHERE orderId = #{generatedId} 
	</update>
	
	<insert id="insertOrderItem">
	INSERT INTO Order_item(
		orderId,
		productCode,
		quantity,
		finalPrice,
		sum
	)
	VALUES(#{generatedId}, #{oid.productCode}, #{oid.quantity}, #{oid.finalPrice}, #{oid.sum})
	
	</insert>
	
	<select id="getDate" resultType="string">
	SELECT 
		inserted
	FROM Order_header
	WHERE orderId = #{generatedId}
	
	</select>
	


</mapper>