<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sharedOne.mapper.member.YjhMemberMapper">

	<select id="getEmail" resultType="com.sharedOne.domain.member.MemberDto">
		SELECT id,
			   password,
			   name,
			   email,
			   phone
	    FROM Member 
	    WHERE email = #{email};
	
	</select>

	<insert id="insertRanks">
		INSERT INTO Ranks(memberId, rank)
		VALUES (#{memberId}, #{rank});
	</insert>

	<insert id="insertMember" useGeneratedKeys="true" keyProperty="memberId">
		insert into Member (id, password, name, email, phone)
		values((select concat(cast(today as char),"-", right(concat('000' , rowCount + 1),  4)) as newMemberId from Member as m,(select concat(substr(date_format(now(), '%Y'), 3, 4)) as today,(select memberId from Member order by memberId desc limit 1) as rowCount FROM dual) d group by newMemberId),
		#{password}, #{name}, #{email}, #{phone});
	</insert>
	
	<select id="selectById" resultMap="memberMap">
		SELECT id,
			   m.memberId memberId,
			   password,
			   name,
			   email,
			   phone,
			   r.rank rank
	    FROM Member m LEFT JOIN Ranks r ON m.memberId = r.memberId 
	    WHERE m.id = #{id};
	</select>
	
	<resultMap type="com.sharedOne.domain.member.MemberDto" id="memberMap">
		<id column="id" property="id"></id>
		<result column="password" property="password"></result>
		<result column="name" property="name"></result>
		<result column="email" property="email"></result>
		<result column="phone" property="phone"></result>
		<collection property="rank" ofType="String">
			<result column="rank" property="rank"></result>
		</collection>
	</resultMap>
</mapper>